archive.zip
ASL_Citizen
DATA_KEYPOINTS
DATA_KEYPOINTS_PACKED
MP_DATA
DATA_PACKED
DATA_PACKED_FINAL
DATA_KEYPOINTS_PACKED_50PLUS
DATA_KEYPOINTS_FIXED
DATA_KEYPOINTS_HANDS_ONLY
DATA
Logs
TEMP_VIDEO_SEQUENCES
tmp_train_test
np
best_model_transformer_high_acc.weights.h5